certifi==2018.11.29
chardet==3.0.4
Click==7.0
decorator==4.3.2
Flask==1.0.2
future==0.17.1
geocoder==1.38.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
PyJWT==1.7.1
PySocks==1.6.8
python-dotenv==0.10.1
pytz==2018.9
ratelim==0.1.6
requests==2.21.0
six==1.12.0
twilio==6.7.0
urllib3==1.24.1
virtualenv==16.4.0
Werkzeug==0.15.3
